/* ----------------------------- GENERAL SETTINGS ------------------------------- */
html, body, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

body {
    background: #333;
    background-image: url('images/asfalt.png');
    color: white;
    text-align: center;
}

/* #nav_bar {
    height: 100%;
    width: 5%;
    top: 0;
    left: 0;
    background-color: black;
    position: fixed;
    color: white;
    padding: 10px;
    transition: 1s;
}

#nav_bar:hover {
    width: 10%;
}

#nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 3rem 0;
}

#nav_bar ul li {
    margin-top: 2em;
} */


/* ----------------------------- BODY SETTINGS ------------------------------- */
#title {
    font-family: 'Fredoka One', cursive;
    font-size: 5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
