/* ----------------------------- GENERAL SETTINGS ------------------------------- */
html, body, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

body {
    background-image: url('images/mapBG.png');
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    text-align: center;
}


/* ----------------------------- HEADER SETTINGS ------------------------------- */
header {
    height: max-content;
    color: white;
    background-color: black;
    padding: 5px;
    font-family: sans-serif;
}
header > a > img {
    width: 40px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* ----------------------------- BODY SETTINGS ------------------------------- */
#title {
    font-family: 'Fredoka One', cursive;
    font-size: 5em;
    margin-top: 5rem;
    margin-bottom: 0;
}

#subtitle {
    margin-bottom: 5rem;
    font-size: 1em;
}

.cards_container {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 30;
    border-radius: 20px;
}

.museum_card img {
    width: 300;
    border-radius: 10px;
}

a {
    color: white;
}