/* ----------------------------- GENERAL SETTINGS ------------------------------- */
html, body, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

body {
    background: #333;
    background-image: url('images/asfalt.png');
    color: white;
    text-align: center;
}

/* ----------------------------- BODY SETTINGS ------------------------------- */
#title {
    font-family: 'Fredoka One', cursive;
    font-size: 5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
